.user-profile-page {
  color: #373738;
  font-family: arial;

  &__header {
    background: #FFD500;

    img {
      display: block;
      margin: auto;
      padding: 0 2.1rem;
      width: 85%; 
    }
  }

  &__header__title {
    font-size: 4rem;
    padding-top: 10rem;
    text-align: center; 
  }

  &__header__description {
    font-size: 2.5rem;
    padding: 2rem 5rem 8rem;
    text-align: center;
  }

  &__header__arrow-button {
    background: #383D3F;
    border-radius: 50%;
  }

  &__form {
    
  }
}

